<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>manhvd</title>
        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">              
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/bootstrap-icons.css" rel="stylesheet">
        <link href="static/css/templatemo-topic-listing.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <span>manhvd</span>
                    </a>
                    <div class="d-lg-none ms-auto me-4">
                        <a href="210.245.90.204:5000" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{{ url_for('home') }}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{{ url_for('home') }}"> Generate Images</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#topics-detail">Upload Images</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{{ url_for('home') }}">FAQs</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#footer">Contact</a>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block">
                            <a class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                    </div>
                </div>
            </nav>
            

            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 mb-5">
                            <h2 class="text-white">Upload beautiful images</h2>
                            <div class="d-flex align-items-center mt-5">
                                <a href="#topics-detail" class="btn custom-btn custom-border-btn smoothscroll me-4">Uploads</a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="topics-detail-block bg-white shadow-lg">
                                <img src="static/images/infor.jpg" class="topics-detail-block-image img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </header>


            <section class="topics-detail-section section-padding" id="topics-detail">
                <div class="upload-wrapper">
                    <header>Images Upload</header>
                    <form class="upload-form" method="post" enctype="multipart/form-data">
                      <input class="upload-file-input" type="file" name="upload_files" hidden multiple>
                      <i class="fas fa-cloud-upload-alt"></i>
                      <p>Browse File to Upload</p>
                    </form>
                    <section class="progress-area"></section>
                    <section class="uploaded-area"></section>
                </div>
            </section>

        </main>
		
        <footer class="site-footer section-padding" id="footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="{{ url_for('home') }}">
                            <span>manhvd</span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="{{ url_for('home') }}" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="{{ url_for('home') }}" class="site-footer-link">Generate images</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#topics-detail" class="site-footer-link">Upload images</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="{{ url_for('home') }}" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a class="site-footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <p class="text-white d-flex mb-1">
                            <a class="site-footer-link">
                                0335326876
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a class="site-footer-link">
                                manhquynh2118@gmail.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English</button>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Vietnamese</button></li>
                            </ul>
                        </div>
                        <p class="copyright-text mt-lg-5 mt-4">Copyright © 2023 Hong An Render. All rights reserved.
                        <br><br>Design by manhvd</a></p>
                        
                    </div>

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/jquery.sticky.js"></script>
        <script src="static/js/custom.js"></script>
        <script src="static/js/upload.js"></script>

    </body>
</html>